body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;  
    font-family: 'Arial';  
}  
.login{  
        width: 60%;  
        height: 20%;
        overflow: hidden;  
        margin: auto;
        margin: 20 0 0 450px;  
        padding: 50px;  
        background: #23463f;  
        border-radius: 15px;
        text-align: center;
          
}  
h2{  
    text-align: center;  
    color: #a31111;
    padding: 20px;  
}  
label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: #a31111;  
  
  
} 
#log:hover{
    background-color: gray;
} 
span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color: grey;  
}  
